﻿@{
    ViewBag.Title = "Users";
}

<script type="text/javascript" src="~/Scripts/user.Controller.js"></script>

<style>
thead tr th div
{
    width:30px;

    transform: 
        rotate(-60deg);

    -ms-transform: 
        rotate(-60deg);

    -webkit-transform: 
        rotate(-60deg);
}
</style>

<div>
    <div ng-controller="userController">
        <h2>User Abilities</h2>
        <table>
            <thead>
                <tr>
                    <th><div>Name</div></th>
                    <th><div>Email Address</div></th>
                    <th><div>Administrator</div></th>
                    <th><div>Meeting Organizer</div></th>
                    <th><div>User</div></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users">
                    <td>{{user.name}}</td>
                    <td>{{user.emailAddress}}</td>
                    <td><input type="checkbox" ng-model="user.isAdministrator" /></td>
                    <td><input type="checkbox" ng-model="user.isMeetingOrganizer" /></td>
                    <td><input type="checkbox" ng-model="user.isUser" /></td>
                    <td><a href="#" ng-click="deleteUser(user.id)">delete</a></td>
                </tr>
            </tbody>
        </table>
        <input type="button" value="Save" ng-click="updateUsers(users)" />
    </div>
</div>
