﻿@model IEnumerable<SchoolEnroller.Models.Meeting>

    @{
        ViewBag.Title = "Meetings";
    }

<script type="text/javascript" src="~/Scripts/meeting.Controller.js"></script>

    <div>
        <div ng-controller="meetingController">
            <h2>Meetings</h2>
            <p>
                <div>
                    <label>Name: </label><input ng-model="meeting.name" />
                </div>
                <div>
                    <select ng-model="meeting.location" ng-options="location.name for location in locations"></select>
                </div>
                <div>
                    <label>Certified</label>
                    <input type="checkbox" ng-model="meeting.certified" />
                </div>
                <div ng-show="meeting.certified">
                    <select ng-model="meeting.certificate" ng-options="certificate.name for certificate in certificates"></select>
                </div>
                <div>
                    <a href="#" ng-click="addMeeting(meeting)">Create</a>
                </div>
            </p>

            <table cellspacing="0" style="margin-top: 10px; width: 100%;">
                <tr style=" border: 0; border-bottom: 1px solid #e5e5e5; ">
                    <th ng-click="predicate = 'name'; reverse=!reverse" style="width:30%;">Name</th>
                    <th>Location</th>
                    <th>Certification</th>
                    <th>Delete</th>
                </tr>
                <tr data-ng-repeat="item in meetings | filter: searchFilter | orderBy:predicate:reverse">
                    <td style="font-size: 14px; width: 30%;">{{item.name}}</td>
                    <td style="font-size: 14px; width: 30%;">{{item.location.name}}</td>
                    <td style="font-size: 14px; width: 30%;">{{item.certificate.name}}</td>
                    <td><a href="#" ng-click="deleteMeeting(item.id)">Delete</a></td>
                </tr>
            </table>
           
        </div>
    </div>
