﻿@{
    ViewBag.Title = "Certificates";
}

<script type="text/javascript" src="~/Scripts/certificate.Controller.js"></script>
<div>
    <div ng-controller="certificateController">
        <h2>Certificates</h2>
        <p>
            <div>
                <label>Name: </label><input ng-model="certificate.name" />
            </div>
            <div>
                <label>Duration in days: </label><input type="number" ng-model="certificate.durationInDays" />
            </div>
            <div>
                <a href="#" ng-click="addCertificate(certificate)">Create</a>
            </div>
        </p>

        <table cellspacing="0" style="margin-top: 10px; width: 100%;">
            <tr style=" border: 0; border-bottom: 1px solid #e5e5e5; ">
                <th ng-click="predicate = 'name'; reverse=!reverse" style="width:30%;">Name</th>
                <th>Duration in days</th>
                <th>Delete</th>
            </tr>
            <tr data-ng-repeat="item in certificates | filter: searchFilter | orderBy:predicate:reverse">
                <td style="font-size: 14px; width: 30%;">{{item.name}}</td>
                <td style="width:15%;">{{item.durationInDays}}</td>
                <td><a href="#" ng-click="deleteCertificate(item.id)">Delete</a></td>
            </tr>
        </table>
    </div>
</div>
