﻿@model IEnumerable<SchoolEnroller.Models.Location>

    @{
        ViewBag.Title = "Locations";
    }

<script type="text/javascript" src="~/Scripts/location.Controller.js"></script>

    <div>
        <div ng-controller="locationController">
            <h2>Locations</h2>
            <p>
                <div>
                    <label>Name: </label><input ng-model="location.name" />
                </div>
                <div>
                    <a href="#" ng-click="addLocation(location)">Create</a>
                </div>
            </p>
           
            <table cellspacing="0" style="margin-top: 10px; width: 100%;">
                <tr style=" border: 0; border-bottom: 1px solid #e5e5e5; ">
                    <th ng-click="predicate = 'name'; reverse=!reverse" style="width:30%;">Name</th>
                    <th>Delete</th>
                </tr>
                <tr data-ng-repeat="item in data | filter: searchFilter | orderBy:predicate:reverse">
                    <td style="font-size: 14px; width: 30%;">{{item.name}}</td>
                    <td><a href="#" ng-click="deleteLocation(item.id)">Delete</a></td>
                </tr>
            </table>
        </div>
    </div>
