﻿@model IEnumerable<SchoolEnroller.Models.Attendee>

    @{
        ViewBag.Title = "Attendees";
    }

<script type="text/javascript" src="~/Scripts/attendee.Controller.js"></script>

    <div>
        
        <div ng-controller="attendeeController">
            <h2>Attendees</h2>
            <p>
                <div>
                    <label>Name: </label><input ng-model="attendee.name" />
                </div>
                <div>
                    <label>PIN: </label><input ng-model="attendee.pin" />
                </div>
                <div>
                    <a href="#" ng-click="addAttendee(attendee)">Create</a>
                </div>
            </p>
           
            <table cellspacing="0" style="margin-top: 10px; width: 100%;">
                <tr style=" border: 0; border-bottom: 1px solid #e5e5e5; ">
                    <th ng-click="predicate = 'name'; reverse=!reverse" style="width:30%;">Name</th>
                    <th>PIN</th>
                    <th>Delete</th>
                </tr>
                <tr data-ng-repeat="item in data | filter: searchFilter | orderBy:predicate:reverse">
                    <td style="font-size: 14px; width: 30%;">{{item.name}}</td>
                    <td style="width:15%;">{{item.pin}}</td>
                    <td><a href="#" ng-click="deleteAttendee(item.id)" >Delete</a></td>
                </tr>
            </table>
        </div>
    </div>
